#board {
    display: grid;
    grid-template-columns: repeat(10, 3.5rem);
    grid-template-rows: repeat(10, 3.5rem);
    column-gap: 2px;
    row-gap: 2px;
    width: 75%;
}

.cell {
    background-color: grey;
    font-size: 3rem;
}

#dice {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    margin-top: 5px;
}
